article {
    max-width: 1600px;
    margin: auto;
    margin-top: 1rem;
    padding-left: 5%;
    padding-right: 5%;
}

.text-container {
    padding-top: 1rem;
}

.socials-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 2rem auto;
}

h1 {
    font-family: "nunito", sans-serif;
    font-weight: 900;
    font-size: 2rem;
}

p {
    margin-top: 1rem;
}


.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/article-banner-compressed.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

@media (min-width: 600px) {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .text-1,
    .text-2,
    .text-3 {
        display: flex;
        justify-content: space-between;
    }

    .text-1 p,
    .text-2 p,
    .text-3 p {
        width: 48%;
    }
}

@media (min-width: 1280px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    .banner {
        height: 500px;
    }

    .text-container {
        padding-left: 0%;
        padding-right: 0%;
    }

    article {
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 2rem;
    }

    .socials-container {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
}

