@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&family=Roboto:wght@300;400;700;900&display=swap');

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-bg);
    font-family: "Roboto", sans-serif;
    color: white;
    height: 100vh;
    
}

.cart-overview-wrapper {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1rem;
}

.back-link {
    color: white;
    display: none;
}

.back-link svg {
    margin-right: 0.5rem;
}

.back-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button svg {
    margin-right: 0.3rem;
}

.cart-overview-h1 {
    font-weight: 900;
    font-size: 2rem;
    margin-top: 1rem;
    font-family: "nunito", sans-serif;
}

.item-smokin-aces {
    display: flex;
    margin-top: 1rem;
}

.item-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
}


img {
    max-width: 100px;
}

.movie-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    margin-top: 0.2rem;
}

.movie-details-rating {
    border: 1px solid white;
    padding: 1px 8px;
}

.movie-details-rating,
.movie-details-time,
.movie-details-year {
    margin-right: 0.75rem;
}

.item-price {
    font-weight: 700;
    font-size: 16px;
    margin-top: 0.3rem;
}

.item-smokin-aces a {
    color: white;
}

.divider {
    border-bottom: 1px solid rgb(196, 196, 196);
    margin: 2rem 5% 0rem 0;
    width: 100%;
}

.total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 0.3rem;
}

.total-sum {
    font-size: 1.3rem;
}


form h1 {
    margin-bottom: 2rem;
}

.payment-method {
    margin-bottom: 1rem;
}


.new-card-container {
    margin-top: 0.3rem;
}

.new-card,
.old-card {
    margin-left: 0.2rem;
}

input[name="card-type"] {
    accent-color: var(--color-main);
}


.card-number-wrapper,
.expiration-wrapper {
    display: flex;
    align-items: center;
}

.card-number-wrapper,
.expiration-wrapper {
    height: 30px;
    background-color: white;
    border-radius: 6px;
    padding-left: 0.5rem;
}

.card-number-wrapper input,
.expiration-wrapper input {
    height: 100%;
    width: 100%;
    padding-left: 0.5rem;
    border-radius: 6px;
}

.name-container {
    margin-top: 2rem;
}


.name-container,
.cvv-container,
.card-number-container,
.expiration-container {
    display: flex;
    flex-direction: column;
}

.name-container input,
.cvv-container input {
    height: 30px;
    padding-left: 0.5rem;
    border-radius: 6px;
}

form {
    background-color: #1F202F;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

form input {
    border: none;
    outline: none;
}

form input::placeholder {
    font-size: 14px;
    font-family: "roboto", sans-serif;
}

.bottom-row-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.cvv-container {
    max-width: 46px;
    margin-left: 1rem;
}

.expiration-container {
    max-width: 88px;
}

label {
    margin-bottom: 0.5rem;
}

.cvv-container,
.expiration-container,
.card-number-container {
    margin-top: 1rem;
}

.pay-button {
    background-color: var(--color-main);
    color: white;
    width: 100%;
    height: 56px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 2rem;
}

.pay-button:hover {
    background-color: var(--color-hover);
    cursor: pointer;
}



@media (min-width: 600px) {
}


@media (min-width: 840px) {
    
    .back-button {
        margin-bottom: 2rem;
    }

    form h1 {
        font-size: 2rem;
    }

    .main-wrapper {
        display: flex;
        justify-content: space-evenly;
       
    }

    .cart-overview-wrapper {
        margin-top: 3rem;
        width: 100%;
        max-width: 300px;
    }

    form {
        border-radius: 6px;
        width: 420px;
        margin-top: 3rem;
        margin-right: 5%;
    }

    .form-wrapper {
        margin-right: 5%;
    }

    .bottom-row-container {
        width: 40%;
        justify-content: space-between;
    }
    .bottom-completed {
        display: flex;
        justify-content: flex-start;
    }

    .card-number-container {
        margin-right: 1rem;
        max-width: 300px;
    }
}


@media (min-width: 1280px) {

    .back-button {
        display: none;
    }

    .back-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        align-items: center; 
        opacity: 0.5;
        margin-bottom: 2rem;
        transition-duration: 0.3s;
    }

    .back-link:hover {
        opacity: 1;
    }


    .main-wrapper {
        max-width: 1500px;
        margin: auto;
        margin-top: 3rem;
    }
}